html,
html * {
    margin: 0px;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, ',Open Sans', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
    max-width: 900px;
}

h1 {
    margin: 5px 0px 5px 0px;
}

.topnav>ul>li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.anchor {
    padding-top: 5%;
}

.header {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: 'logo navbar';
    position: fixed;
    z-index: 1000;
    mix-blend-mode: difference;
    min-width: 100%;
}

.hazlogo {
    z-index: 1000;
    grid-area: logo;
    /*display: inline-block;*/
    /*because now hazlogo is outside any container, position can be fixed*/
    /*position: fixed;*/
    height: 1em;
    margin-top: 1em;
    margin-left: 2em;
}

.topnav {
    z-index: 1000;
    grid-area: navbar;
    /*because now topnav is outside any container, position can be fixed
    position: fixed;
    width: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*Nav Settings*/
    margin: 0;
    padding: 1em 2em;
    color: white;
    mix-blend-mode: difference;
    transition: transform .2s;
    /* Animation */
}

.topnav>ul {
    text-align: right;
}

.topnav>ul>li {
    float: left;
    margin: 0px 0.65em 0px 0.65em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#Hero {
    z-index: 0;
    position: fixed;
    color: white;
    background-color: black;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.HeroImage {
    height: 100vh;
    width: 100%;
}

.HeroImage>img {
    height: 90vh;
    width: auto;
}

.Welcome {
    position: absolute;
    top: 70vh;
    width: 100%;
    text-align: center;
}

#Contents {
    position: absolute;
    display: block;
    height: auto;
    margin-top: 90vh;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 2em 2em 0px 0px;
}

.TextContainer {
    width: 100%;
    text-align: center;
    padding: 1em 0px 1em 0px;
}

#EduCardsContainer {
    overflow: scroll;
    white-space: nowrap;
    display: flex;
    background-color: rgb(245, 245, 245);
    scroll-snap-type: x mandatory;
    scroll-padding: 25%;
}

.EduCards {
    position: relative;
    top: 50%;
    text-align: center;
    background-color: rgb(245, 245, 245);
    margin: 3em 1em 3em 1em;
    padding: 1em;
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.322), -3px -3px 3px rgba(255, 255, 255, 1);
    border-radius: 2em;
    border-bottom: 1px rgba(1, 1, 1, 0.5);
    border-right: 1px rgba(1, 1, 1, 0.5);
    height: auto;
    scroll-snap-align: center;
}

.EduCards>div {
    position: relative;
    text-align: center;
    width: 70vw;
    height: auto;
}

.id {
    font-weight: 100;
}

#UI {
    background-color: rgb(248, 205, 70);
}

#Smansa {
    background-color: rgb(245, 245, 245);
}

#Alcy {
    background-color: rgb(245, 245, 245);
}

#Education {
    display: block;
    position: relative;
}

#Personal {
    display: block;
    position: relative;
}

.Article {
    position: relative;
    width: auto;
    padding: 2em;
}

.Article>p>li {
    list-style: decimal;
    text-decoration: dotted;
}

#Footer {
    display: flex;
    color: white;
    z-index: 1;
    background-color: rgb(64, 64, 64);
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.FooterContent {
    text-align: center;
}

.FooterContent>li {
    list-style: none;
    text-decoration: none;
}

.Ava {
    border-radius: 100%;
    overflow: hidden;
    width: 15em;
    height: 15em;
}

.Ava>img {
    width: 100%;
}